{{> head}}
{{> navbar }}


    <div class="row">
        <div class="col-8">
            <h1>TEXTO DE EJEMPLO EN GRANDE PORQUE SÍ</h1>
        </div>


        <div class="col-4">
            <img src="assets/imgs/ScreenShot004.jpg" class="img-thumbnail" alt="imagen-ejercicio-node">
        </div>
    </div>


{{> footer}}
